.ry-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  border-bottom: $menu-border-width solid $menu-border-color;
  box-shadow: $menu-box-shadow;
  user-select: none;
  >.ry-menu-item {
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    position: relative;
    &:hover, &.focus {
      text-decoration: none;
    }
    &.ry-menu-item-disabled {
      color: $menu-item-disabled-color;
      pointer-events: none;
      cursor: default;
    }
    &.is-active, &:hover {
      color: $menu-item-active-color;
      border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
    }
  }
  .ry-submenu-item {
    position: relative;
    .ry-submenu-title {
      display: flex;
      align-items: center;
    }
    .arrow-icon {
      transition: transform .25s ease-in-out;
      margin-left: 3px;
    }
    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }
  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }
  .is-vertical.is-opened {
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }
  .ry-submenu {
    display: none;
    list-style:none;
    padding-left: 0;
    white-space: nowrap;
    //transition: $menu-transition;
    .ry-menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;
      &.is-active, &:hover {
        color: $menu-item-active-color !important;
      }
    }
  }
  .ry-submenu.ry-menu-opened {
    display: block;
  }
}
.ry-menu-horizontal {
  .ry-menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }
  .ry-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 2px);
    left: 50%;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
    transform: translateX(-50%);
  }
}
.ry-menu-vertical {
  flex-direction: column;
  border-bottom: none;
  border-right: $menu-border-width solid $menu-border-color;
  .ry-menu-item {
    &:not(.ry-submenu-container) {
      border-left: $menu-item-active-border-width solid transparent;
    }
    &.is-active, &:hover {
      border-bottom: none;
      border-left-color: $menu-item-active-color;
    }
  }
}